// nav breakpoint variable
$breakpoint: 800px

// Background colors
$darkest: #1d1d1d
$darker: lighten($darkest, 5%)
$dark: lighten($darkest, 15%)
$darkish: #707875
$gray: #CACFCC

//--- Page text colors ---//

//nav link color
$text-color: transparentize(#F4F8FB, 0.25)
$text-color-nop: #F4F8FB

$link-color: #F0DB4F //yellow