@import '_variables';
//------- GENERIC RESET & NORMALIZE ---------//

::selection {
  background: $deep-forest;
  color: white;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline }

article, footer, header, nav, section { display: block }

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box }


html, body {
  width: 100%;
  height: 100%;
  min-width: 320px;
  font-size: 16px;
  @media (max-width: 960px) {
    font-size: calc(14px + .4vw);
  }
}  
body {
  margin: 0 auto;
  background: $space;
  overflow-x: hidden;
  font-size: 1rem;
  font-feature-settings: kern;
  -ms-font-feature-settings: kern;
  -o-font-feature-settings: kern;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  position: relative }

body, input, select, textarea {
  font-family: $font-sans;
  color: $pearl;
  font-weight: 400;
  line-height: 1.6 }
a, a:visited {
  -moz-transition: color 0.2s ease-in-out, border-style 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, border-style 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, border-style 0.2s ease-in-out;
  color: $mint;
  text-decoration: none;
  outline: none; 
  &:hover {
    color: $key-lime;
    text-decoration: none }
}
strong, b { color: $alabaster; font-weight: 600 }
em { font-style: italic }
p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: $pearl;
  max-width: 40rem;
  &:first-of-type {
    margin-top: 0 }
  &.-small { line-height: 1.4 }
}

h1, h2, h3, h4, h5, h6 {
  max-width: 40rem;
  color: $pearl;
  font-family: $font-sans;
  font-weight: 700;
  margin-right: auto }
h1 {
  font-size: 1.75rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: $alabaster;
}
h2 {
  font-size: 1.625rem;
  margin-top: 1.3125rem;
  margin-bottom: 1.3125rem;
  letter-spacing: 0.1px }
h3 {
  font-size: 1.3125rem;
  margin-top: 1rem;
  margin-bottom: 1.25rem }
h4, h5, h6 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  font-weight: 500 }
h4 { font-size: 1.125rem; }
h5 { font-size: 1.0625rem; color: $alto }

// order/unordered lists, & 'new' emphasis mixin
@mixin new-pill {
  content: 'new';
  position: absolute;
  padding: 0.125rem 0.25rem;
  border: 3px solid $honest;
  border-radius: 25px;
  background-color: $key-lime;
  color: $deep-forest;
  font-size: .6875rem;
  text-transform: uppercase;
  letter-spacing: 0.25px;
  font-weight: 600;
  left: -1.625rem;
  top: -2px;
}
.new-pill {
  position: relative;
  &:after {
    @include new-pill();
    left: unset;
    right: unset;
    margin-left: 1rem;
  }
}
ul, ol {
  margin: 0 0 1rem 0;
  padding-left: 2rem;
  &.featured-list {
    list-style-image: url('../images/check.svg');
  }
  > li {
    padding-left: 0.25rem;
    margin-bottom: 0.75rem;
    > ul { margin-top: 0.75rem }
    &.-new {
      list-style-image: none;
      list-style-type: none;
      padding-left: 1.75rem;
      position: relative;
      &:before {
        @include new-pill();
      }
    }
  }
}

pre, code{ font-size: 85% }
code {
  background-color: $jet;
  border: 1px solid rgba(255, 255, 255, .15);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Source Code Pro", "Fira Code", "Liberation Mono", Menlo, Courier, monospace;
  color: $alto;
  padding: 2px 4px
}

hr {
  border: 0;
  border-top: solid 1px transparentize($gray, 0.85);
  border-bottom: solid 1px transparentize($gray, 0.85);
  border-radius: 8px;
  margin: 2rem auto 1rem auto;
  width: 100%;
  &.-minor {
    margin: 1rem 0;
    border-color: transparent }
  &.-major {
    margin: 3rem auto;
    border-top: solid 2px transparentize($mint, 0.5);
    border-bottom: solid 2px transparentize($mint, 0.5);
  }
}

.box {
  display: inline-block;
  padding: 1rem;
  margin: 0 1rem 0 0;
  border: 2px solid $stone;
  border-radius: 8px;
  &.-alt {
    border: none;
    max-width: unset;
  }
  > p {
    margin: 0;
    padding: 0;
    width: unset;
  }
}