.burger {
  height: 3em;
  width: 3em;
  position: relative;
  font-size: 10px;
  cursor: pointer;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
  &:after {
    content: '';
    display: block;
    position: absolute;
    height: 150%;
    width: 150%;
    top: -25%;
    left: -25%;
  }

  > .burger-lines {
    top: 50%;
    margin-top: -0.125em;

    &:before {
      left: 0;
      top: 1em;
    }

    &:after {
      left: 0;
      top: -1em;
    }
  }
  &.-offset > .burger-lines {
    top: 50%;
    margin-top: -0.125em;

    &:before {
      left: 1em;
      top: 1em;
    }

    &:after {
      left: 0;
      top: -1em;
    }
  }

  &.-squeeze .burger-lines,
  &.-squeeze .burger-lines:before,
  &.-squeeze .burger-lines:after {
    -webkit-transition: .2s top .2s, .1s left, .2s transform, .4s background-color .2s;
    -o-transition: .2s top .2s, .1s left, .2s transform, .4s background-color .2s;
    transition: .2s top .2s, .1s left, .2s transform, .4s background-color .2s;
  }
  &.-squeeze .burger-lines:after {
    left: 0;
    top: -1em;
  }
  &.-squeeze .burger-lines:before {
    left: 0;
    top: 1em;
  }
  &.-squeeze.-offset .burger-lines:before,
  &.-squeeze.-offset .burger-lines:after {
   width: 2em;
  }
  &.-squeeze.-offset .burger-lines:after {
    left: 0;
    top: -1em;
  }
  &.-squeeze.-offset .burger-lines:before {
    left: 1em;
    top: 1em;
  }
  &.-squeeze.open .burger-lines,
  &.-squeeze.open .burger-lines:before,
  &.-squeeze.open .burger-lines:after {
    -webkit-transition: .2s background-color, .2s top, .2s left, .2s transform .15s;
    -o-transition: .2s background-color, .2s top, .2s left, .2s transform .15s;
    transition: .2s background-color, .2s top, .2s left, .2s transform .15s;
  }
  &.-squeeze.open .burger-lines {
    background-color: transparent;
  }
  &.-squeeze.open .burger-lines:before,
  &.-squeeze.open .burger-lines:after {
    left: 0.5em;
    top: 0px;
  }
  &.-squeeze.open .burger-lines:before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  &.-squeeze.open .burger-lines:after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.burger-lines,
.burger-lines:after,
.burger-lines:before {
  pointer-events: none;
  display: block;
  content: '';
  width: 100%;
  border-radius: 0.25em;
  background-color: $pearl;
  height: 0.25em;
  position: absolute;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}

.burger.-squeeze {
  > .burger-lines {
    top: 50%;
    margin-top: -0.125em;
    &,
    &:after,
    &:before {
      transition: .2s top .2s, .1s left, .2s transform, .4s background-color .2s;
    }
    &:after {
    left: 0;
    top: -1em;
    }
    &:before {
      left: 0;
      top: 1em;
    }
  }

  &.-offset > .burger-lines {
    &,
    &:after,
    &:before {
      transition: .2s top .2s, .1s left, .2s transform, .4s background-color .2s;
    }
    &:after,
    &:before {
      width: 2em;
    }
    &:after {
      left: 0;
      top: -1em;
    }
    &:before {
      left: 1em;
      top: 1em;
    }
  }

  &.open {
    > .burger-lines {

      &,
      &:after,
      &:before {
        transition: .2s background-color, .2s top, .2s left, .2s transform .15s;
      }
      &:after,
      &:before {
        width: 2em;
      }

      & {
        background-color: transparent;
      }

      &:before,
      &:after {
        left: 0.5em;
        top: 0px;
      }

      &:before {
        transform: rotate(-45deg);
      }

      &:after {
        transform: rotate(45deg);
      }
    }
  }
}