.nav-wrapper {
  // bkg color is optional
  background-color: $jet;
  // For a fixed header simply change below value to 'fixed' or apply '-sticky' class
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: $nav-height;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  padding: 0;
  display: block;
  transition: all 0.2s ease-in-out;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  > .nav {
    max-width: 80rem;
    width: 100%;
    height: $nav-height;
    margin: 0 auto;
    padding: 0 0.5rem;
    display: flex;
    justify-content: space-between;
    > .toggle-nav {
      z-index: 2;
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      @media all and (min-width: $breakpoint) { display: none }
    }
  }
  &.-sticky {
    position: fixed;
    &.-bottom {
      top: unset;
      bottom: 0;
      > .nav > .nav-list {
        bottom: 4.5rem;
        top: 0;
        transform: translateY(calc(4.5rem - 100%));
        > .list.-left {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          @media screen and (min-width: $breakpoint) {
            flex-direction: row;
            justify-content: flex-start;
          }
        }
      }
    @media screen and (min-width: $breakpoint) {
      top: unset;
      bottom: unset;      
      }
    }
  }
}

//remove default button styling
.toggle-nav {
  background-color: transparent;
  cursor: pointer;
  box-shadow: none;
  border: 0;
  outline: none;
  margin: 0;
  padding: 0.5rem;
}

.logo-link {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  > .logo {
    max-width: 60px;
    width: 100%;
    height: auto;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    transition: max-height 0.2s ease-in-out;
    -webkit-transition: max-height 0.2s ease-in-out;
  }
}

.nav-list {
  background-color: transparent;
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  top: 4.5rem;
  bottom: 0;
  left: -15rem;
  width: 0;
  min-height: 100vh;
  -webkit-overflow-scrolling: touch;
  transition: all 0.3s ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  &.-open {
    width: 100%;
    left: 0;
    padding-bottom: $nav-height;
    > .list.-left {
      overflow-y: auto;
      overscroll-behavior-y: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
  > .list {
    &.-left {
      background: $jet;
      position: relative;
      width: 60%;
      height: 100%;
    }
    &.-right {
      width: 40%;
    }
  }
  > .list > .item {
    display: flex;
    padding: 0;
    border-bottom: 1px solid transparentize($gray, 0.5);
    &:last-child { border-bottom: 0 }
  }
  > .list > .item > .link {
    border-color: transparent;
    padding: 0.75rem 1rem 0.5rem 1rem;
    flex-basis: 100%;
    display: block;
    background: transparent;
    font-size: 1.5rem;
    padding-left: 1.5rem;
    color: $text-color;
    transition: all 0.3s ease-in-out;
    &:hover, &.-active { color: $link-color }
  }
  > .list > .overlay {
    width: 40%;
    height: 100%;
    background: transparentize($raven, 0.35);
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
  }
  @media all and (min-width: $breakpoint) {
    top: unset;
    left: unset;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: initial;
    background: transparent;
    overflow: hidden;
    > .list.-left, > .list.-right {
      overflow: hidden;
      &.-left {
        height: 100%;
        width: 100%;
        border-top: 0;
        background: transparent;
        display: flex;
        align-items: center;
      }
      &.-right {
        display: none;
        z-index: -1;
      }
    }
    > .list > .item { 
      margin-left: 1.5rem;
      margin-bottom: 0;
      border-bottom-color: transparent;
      justify-content: flex-start;
    }
    > .list > .item > .link { 
      border-bottom: 2px solid transparent;
      display: block;
      flex-basis: unset;
      background: transparent;
      padding: 1.25rem 0;
      font-size: 1rem;
      outline: 0;
      transition: all 0.2s ease-in-out;
    }
  }
}

._disableScroll { overflow-y: hidden !important }