.nav {
  // For a fixed header simply change below value to 'fixed' or apply '-sticky' class
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: $nav-height;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  padding: 0;
  display: block;
  transition: all 0.2s ease-in-out;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;    

  //variants
  &.-sticky {
    position: fixed;

    &.-bottom {

      @include sizes(0, $breakpoint){
        top: unset;
        bottom: 0;
        display: flex;
        flex-direction: column-reverse;

        .nav-list.-open{
          padding-bottom: 0;
          padding-top: 4.5rem;
        }
      }

      .nav-list__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        @include sizes($breakpoint){
          flex-direction: row;
          justify-content: flex-start;
        }
      }
    }
  }

  &-main{
    // bkg color is optional
    background-color: $jet;
    max-width: 80rem;
    width: 100%;
    height: $nav-height;
    margin: 0 auto;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
  }

  &-toggle {
    z-index: 2;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    background-color: transparent;
    cursor: pointer;
    box-shadow: none;
    border: 0;
    outline: none;
    margin: 0;
    padding: 0 0.5rem;
    @include focus-outline($mint);
    * {
      pointer-events: none;
    }

    @include sizes($breakpoint){
      display: none
    }
  }

  &-logo {
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem;
    max-width: 60px;
    @include focus-outline($mint);

    @include sizes($breakpoint){
      &.-mobile {
        display: none;
      }
    }
  }

  &-list {
    background-color: transparent;
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;

    @include sizes($breakpoint){
      display: flex;
      position: relative;
      width: 100%;
      height: 100%;
      min-height: initial;
      background: transparent;
      visibility: visible;
      overflow: visible;
    }

    &.-mobile {
      display: flex;
      position: absolute;
      left: -99vw;
      width: 0;
      height: 100vh;
      visibility: hidden;
      -webkit-overflow-scrolling: touch;
      transition: all 500ms ease-out;
      backface-visibility: hidden;
      transform-style: preserve-3d;
      -webkit-backface-visibility: hidden;
      -webkit-transform-style: preserve-3d;
      transition: all 500ms ease;

      @include sizes($breakpoint){
        display: none;
      }

      &.-open {
        position: relative;
        width: 100%;
        left: 0;
        opacity: 1;
        visibility: visible;
        padding-bottom: $nav-height;
        transition: width 500ms cubic-bezier(0.10, 0.54, 0.17, 0.90);
  
        .nav-list__wrapper {
          overflow-y: auto;
          overscroll-behavior-y: auto;
          -webkit-overflow-scrolling: touch;
        }
  
        .nav-list__link{
          opacity: 1;
          transition: opacity 350ms ease-in 150ms, color 200ms ease-in-out;
        }
      }
    }

    &__wrapper{
      background: $jet;
      position: relative;
      width: 60%;
      height: 100%;

      @include sizes($breakpoint){
        height: 100%;
        width: 100%;
        opacity: 1;
        border-top: 0;
        background: transparent;
        display: flex;
        align-items: center;
        overflow: visible;
      }
    }

    &__item {
      display: flex;
      padding: 2px;
      border-bottom: 1px solid transparentize($gray, 0.5);
      &:last-child { border-bottom: 0 }

      @include sizes($breakpoint){
        margin-left: 1.5rem;
        margin-bottom: 0;
        padding: 0;
        border-bottom: 0;
        justify-content: flex-start;
        &:first-child { margin-left: 0; }
      }
    }

    &__link {
      opacity: 0;
      border-color: transparent;
      padding: rem(12) rem(14) rem(8) rem(14);
      flex-basis: 100%;
      display: block;
      background: transparent;
      font-size: 1.5rem;
      @include focus-outline($mint);
      @include link-hover($mint, $key-lime);

      @include sizes($breakpoint){
        border-bottom: 0;
        display: block;
        flex-basis: unset;
        background: transparent;
        padding: rem(13) 0;
        font-size: 1rem;
        opacity: 1;
        transition: color 200ms ease-in-out;
      }
    }
  }
    
  &-overlay {
    height: 100%;
    background: transparentize($raven, 0.35);
    cursor: pointer;
    width: 40%;
    position: relative;
    display: block;
    z-index: 2;

    @include sizes($breakpoint){
      display: none;
      z-index: -1;
      overflow: hidden;
    }
  }
}

._disableScroll { overflow: hidden !important }

// Right-side nav, right-aligned variant
.-right-aligned{

  //root reinit
  .nav {

    &-list.-mobile {
      text-align: right;
      flex-direction: row-reverse;
      left: unset;
      right: -99vw;

      &.-open {
        right: 0;
      }
    }

  }
}