// nav breakpoint variable
$breakpoint: 800px;
$nav-height: 4.5rem;

// Background colors & shades of grays
$jet: hsl(0, 0%, 13%);
$space: hsl(0, 0%, 19%);
$raven: hsl(0, 0%, 23%);
$stone: hsl(0, 0%, 27%);
$mine: hsl(0, 0%, 32%);
$asher: hsl(0, 0%, 38%);
$boulder: hsl(0, 0%, 49%);
$heather: hsl(0, 0%, 62%);
$gray: hsl(0, 0%, 69%);
$alto: hsl(0, 0%, 81%);
$pearl: hsl(0, 0%, 88%);
$alabaster: hsl(0, 0%, 97%);

// colors
$deep-forest: hsl(125, 86%, 14%);
$forest: hsl(125, 73%, 20%);
$grass: hsl(125, 56%, 29%);
$clover: hsl(122, 47%, 35%);
$lime: hsl(122, 39%, 41%);
$honest: hsl(121, 35%, 51%);
$lucky: hsl(123, 38%, 63%);
$mint: hsl(122, 42%, 75%);
$key-lime: hsl(126, 49%, 84%);
$mint-ice: hsl(125, 65%, 93%);

//--- Page text colors ---//

//nav link color
$text-color: $pearl;
$text-color-nop: $alabaster;

$link-color: $lucky;
$link-color-hover: $honest;

////////////
$font-sans: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans','Helvetica Neue', Arial, sans-serif;