@import '_base';
@import '_nav-wrapper';
@import '_burger-squeeze';

@import '_button-default';
@import '_image';

//--------- styling for rest of page -------//
main {
  margin: 0 auto;
  padding-top: 6.5rem;
  > section {
    padding: 1rem;
    max-width: 40rem;
    margin: 2rem auto;
    > .subtitle {
      font-size: 1.125rem;
      @media screen and (min-width: 590px) {
        padding-bottom: 2rem;
      }
    }
  }
}