@import '_base';
@import '_nav-wrapper';
@import '_burger-squeeze';
@import '_button-default';
@import '_image';

//--------- styling for rest of page -------//
main {
  margin: 0 auto;
  padding-top: 4.5rem;
  > section {
    padding: 1rem;
    max-width: 40rem;
    margin: 2rem auto;
    > .subtitle {
      padding-bottom: 1rem;
      font-size: 1.125rem;
      @media screen and (min-width: 590px) {
        padding-bottom: 4rem;
      }
    }
  }
  @media screen and (min-width: $breakpoint) {
    padding-top: 6.5rem;
  }
  &.-bottomnav { 
    padding-top: 0;
    @media screen and (min-width: $breakpoint) {
      padding-top: 6.5rem;
    }
   }
}

//footer
.poweredby, .poweredby:first-of-type {
  margin: 7rem auto 1rem;
  font-size: 0.8125rem;
  color: $gray;
  text-align: center 
}